html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.ocultar {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.ocultar.active {
  display: block;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

header {
  background: transparent;
  height: 130px;
  position: absolute;
  width: 100%;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
}

header:hover {
  background: linear-gradient(to right, #0254a796, #0b6ab87e);
}

header.active {
  background: linear-gradient(to right, #0254a796, #0b6ab87e);
}

header::after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.9) 70%);
  transform-origin: top;
  transform: scaleY(0);
  transition: transform 0.5s ease-in-out;
  z-index: -1;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0;
  height: 100%;
}

.logo {
  position: relative;
  right: 2%;
  align-items: left;
  width: 220px;
}

.container a .logo-img {
  position: relative;
  width: 220px;
}

.search-container {
  position: relative;
  top: 160px;
  display: inline-block;
  margin-left: 50px;
  margin-right: auto;
  width: 100%;
}

.search-container select{
  position: relative;
  width: 17%;
  padding: 10px 20px;
  margin: -2px;
  box-sizing: border-box;
  border: 1px solid rgb(8, 8, 8);
  text-align: center;
  font-size: 20px;
  cursor: pointer;
}

.fa-search {
  font-size: 20px;
  color: #555;
}

.menu {
  position: relative;
  display: flex;
  cursor: pointer;
}

/*Menu*/
.menu-items {
  display: flex;
  flex-direction: row;
  font-family: "Helvetica Neue", sans-serif;
}

.menu-items li {
  position: relative;
  top: 5px;
  padding: 5px 5px;
  text-align: right;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.menu-items li a {
  color: white;
  font-size: 32px;
}

.menu-items li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.redes-sociales {
  position: relative;
  top: 10px;
}

/* Responsive */
@media (max-width: 1100px){
  .menu-items li a {
    font-size: 24px;
  }
}

@media (max-width: 900px) {
  header {
    height: 150px;
  }
  
  .container {
    flex-direction: column;
    align-items: flex-start;
  }

  .logo {
    position: relative;
    width: 100px;
    bottom: 40px;
  }

  .menu {
    bottom: 150px;
    left: 30%;
    padding: 0;
    height: 10px;
  }

  .menu-items {
    align-items: flex-start;
    margin-top: 100px;
  }

  .menu-items li {
    padding: 3px 5px;
    font-size: 16px;
  }
  .redes-sociales {
    top: -200px;
    left: 50%;
  }
  .search-container {
    margin-left: 60px;
    width: 100%;
  }
  
}

@media (max-width: 800px) {
  .logo {
    width: 150px;
  }
  .search-container select{
    width: 80%;
  }
  .boxSearch {
    width: 80%;
  }
}
@media (max-width: 700px) {
  header {
    height: 120px;
  }
  .container a .logo-img {
    width: 170px;
  }
  
  .search-container select{
    width: 70%;
  }
  .menu-items li a {
    font-size: 1.3em;
  }
  .menu {
    bottom: 120px;
  }
  .redes-sociales {
    top: -170px;
  }
}

@media (max-width: 650px) {
  .menu {
    left: 35%;
  }
  .menu-items li {
    padding: 5px 0px;
  }
  .menu-items li a {
    font-size: 1.2em;
  }
}

@media (max-width: 570px) {
  .menu-items li a {
    font-size: 1.1em;
  }
}

@media (max-width: 500px) {
  header {
    height: 180px;
  }

  .logo {
    left: 30%;
    top: -25px;
  }

  .search-container {
    top: 200px;
  }

  .menu {
    left: 10%;
    bottom: 70px;
  }

  .redes-sociales {
    top: -40px;
    left: 35%;
  }
  .redes-sociales img {
    width: 22px;
  }
}

@media (max-width: 450px) {
  .menu {
    left: 6%;
  }
}
@media (max-width: 420px) {
  .menu {
    left: 5%;
  }
}
@media (max-width: 400px) {
  .menu {
    left: 0%;
  }
  .search-container select{
    width: 65%;
  }
}

/*Fondo*/
.video-background {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.fondo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  filter: brightness(0.9);
  z-index: -1;
}

.video-overlay {
  background: #2f6f9fa4;
  width: 100%;
  border: #2f6f9f;
  position: absolute;
  top: 90%;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}

.video-overlay p {
  position: relative;
  font-size: 2em;
  margin: 0 auto;
}

#myvideo {
  background-size: cover;
}

.tituloPropiedades {
	font-size: 3em;
  text-align: center;
  margin-top: 30px;
  margin-bottom: -25px;
}

/* Responsive */
@media (max-width: 1050px) {
  .granLogo {
    width: 300px;
  }
}

@media (max-width: 768px) {
  .video-overlay {
    margin-bottom: 80px;
  }

  .video-overlay p {
    font-size: 1.2em;
  }

  .botonSearch button {
    font-size: 0.8em;
    padding: 8px;
  }
}

@media (max-width: 480px) {
  .granLogo {
    width: 250px;
  }

  .botonSearch button {
    font-size: 0.7em;
    padding: 6px;
  }
}

/* Estilos para la ventana modal */
.modal {
  display: none;
  /* ocultamos la ventana modal por defecto */
  position: fixed;
  /* la posición será fija */
  z-index: 1000;
  /* establecemos un z-index alto para que aparezca por encima del resto del contenido */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,
      0,
      0,
      0.8);
  /* establecemos un fondo semi-transparente */
  justify-content: space-between;
}

.modal-content {
  position: relative;
  margin: 5% auto;
  /* colocamos la ventana modal en el centro de la pantalla */
  padding: 20px;
  width: 80%;
  height: 70%;
  background-color: #292929f1;
  border-radius: 25px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
}

.modal-header h2 {
  margin: 0;
  font-size: 1.8rem;
}

.close {
  position: relative;
  left: 98%;
  font-size: 2.2rem;
  font-weight: bold;
  color: #aaa;
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-body {
  padding: 20px;
  text-align: center;
}

.modal-content video {
  width: 100%;
  height: 90%;
  border: none;
}

/* propiedades */
.MexicoLindo {
  text-align: center;
  margin-bottom: -25px;
}

.Conoce {
  display: inline-block;
  font-size: 4em;
  font-family: ITC Cerigo Bold;
  color: green;
  padding: 0;
  margin: 0;
  text-align: center;
}

.Mexico {
  display: inline-block;
  font-family: ITC Cerigo Bold;
  font-size: 4em;
  color: red;
  padding: 0;
  margin: 0;
  text-align: center;
}
.Videos {
  display: inline-block;
  font-family: ITC Cerigo Bold;
  font-size: 4em;
  color: purple;
  padding: 0;
  margin: 0;
  text-align: center;
}

.properties {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin: 5%;
}

.property {
  position: relative;
  overflow: hidden;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.property:hover {
  transform: scale(1.05);
}

.property .fotosPropiedades {
  position: relative;
  border-radius: 10px;
  width: 100%;
  height: 250px;
  right: 28%;
}
.property .foto {
  position: relative;
  border-radius: 10px;
  width: 100%;
  height: 250px;
  right: 10.5%;
}

.property-details {
  padding: 20px;
}

.property-details h3 {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
  font-size: 1.4em;
}

.property-details p {
  margin: 0;
  margin-bottom: 10px;
  font-size:1em;
}

.property-info {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.property-info p {
  margin-right: 20px;
}

.property-info p:last-child {
  margin-right: 0;
}

/* Responsive */

@media (max-width: 1380px) {
  .properties {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 780px) {
  .properties {
    grid-template-columns: 1fr;
  }
  .property .fotosPropiedades {
  right: 15%;
}
.property .foto {
  right: 3%;
}
}
@media (max-width: 500px) {
  .property .fotosPropiedades {
  right: 22%;
}
  .property .foto {
    right: 9.5%;
  }
}
@media (max-width: 400px) {
  .property .fotosPropiedades {
  right: 31%;
}
}

/* Contacto */
form {
  max-width: 70%;
  margin: 50px auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 30px;
}

h2 {
  margin-top: 0;
  font-size: 2.5em;
  color: #4e4e4e;
  text-align: center;
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 2.2em;
  color: #4e4e4e;
  margin-bottom: 10px;
}

input[type="text"],
input[type="number"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background-color: #f2f2f2;
  color: #4e4e4e;
  font-size: 2.2em;
  font-weight: 300;
}

input[type="submit"] {
  background-color: #3f8abf;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 2.2em;
  font-weight: 300;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #2f6f9f;
}

@media (max-width: 600px) {
  label {
    font-size: 1.5em;
  }
  input[type="text"],
  input[type="number"],
  input[type="email"],
  textarea {
    font-size: 1.5em;
  }

  input[type="submit"] {
    font-size: 1.5em;
  }
}

/*Logos*/
#logos {
  background-color: white;
  padding: 50px 0;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.logo-list img {
  max-width: calc(33.33% - 160px);
  /* Ancho del elemento calculado */
  margin: 20px 80px;
  /* Margen horizontal de 80px */
}

.logo-list .logo1 {
  max-width: calc(33.33% - 270px);
  /* Ancho del elemento calculado */
  margin: 20px 80px;
  /* Margen horizontal de 80px */
}

@media (max-width: 960px) {
.logo-list .logo1 {
  max-width: 160px;
}
  .logo-list img {
    max-width: 160px;
    /* Ancho del elemento calculado */
    margin: 20px 40px;
    /* Margen horizontal de 80px */
  }

  .logo-list img:nth-child(3),
  .logo-list img:nth-child(4) {
    margin-right: 0;
    /* Eliminar margen derecho para los elementos de la segunda fila */
  }
}

/* Footer*/
footer {
  background-color: #f5f5f5;
  padding: 40px 0;
}

.footer-content {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  /* Centrar horizontalmente */
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* Centrar horizontalmente */
  align-items: center;
  /* Centrar verticalmente */
}

.contacto {
  flex-basis: calc(50% - 20px);
  margin-bottom: 20px;
}

h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #333;
}

p {
  font-size: 2.2rem;
  line-height: 1.5;
  margin-bottom: 10px;
}

.menu ul,
.redes-sociales ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.properties a,
.menu a,
.redes-sociales a {
  color: #333;
  font-size: 1.5rem;
  text-decoration: none;
  margin-right: 20px;
}

.copyrigth {
  text-align: center;
  margin-top: 40px;
  color: #999;
  font-size: 1.2rem;
}


/*letters responsive*/
@media (max-width: 600px) {
  h3 {
    font-size: 2rem;
  }

  p {
    font-size: 1.7rem;
  }

  .properties a,
  .menu a,
  .redes-sociales a {
    font-size: 1rem;
  }
}
@media (max-width: 400px) {
  h3 {
    font-size: 1.8rem;
  }

  p {
    font-size: 1.5rem;
  }

  .properties a,
  .menu a,
  .redes-sociales a {
    font-size: .8rem;
  }
}
@media (max-width: 360px) {
  h3 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.2rem;
  }

  .properties a,
  .menu a,
  .redes-sociales a {
    font-size: .6rem;
  }
}

/* Idiomas */
.language-selector {
  position: fixed;
  left: 92%;
  top: 180px;
  display: inline-block;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  z-index: 10;
}

.language-selector:hover .language-options {
  display: block;
}

.selected-language {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  cursor: pointer;
}

.selected-language img {
  width: 50px;
  height: 50px;
}

.language-options a {
  display: flex;
  align-items: center;
  color: #333;
  text-decoration: none;
  font-size: 16px;
}

.language-options img {
  width: 30px;
  height: 20px;
  margin-right: 10px;
}

/* Whatsapp*/
.whatsapp {
  position: fixed;
  left: 93%;
  top: 80%;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  z-index: 10;
}

.selected-whatsapp img {
  width: 50px;
  height: 50px;
}

/*Responsive*/
@media (max-width: 900px) {
  .language-selector {
    top: 280px;
  }

  .language-selector,
  .whatsapp {
    left: 88%;
  }
}

@media (max-width: 600px) {

  .language-selector,
  .whatsapp {
    left: 85%;
  }
}

@media (max-width: 500px) {
  .language-selector {
    top: 500px;
  }

  .whatsapp {
    top: 90%;
  }
}